name: Build Windows Exe
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-2019
    
    steps:
    - uses: actions/checkout@v4
    
    # 1. Instalamos Miniforge (El nuevo estándar que incluye Mamba)
    - name: Setup Miniforge
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-variant: Miniforge3  # <--- CAMBIO AQUÍ (Antes era Mambaforge)
        miniforge-version: latest
        activate-environment: odm_build
        python-version: 3.9
        
    # 2. Instalamos las librerías
    - name: Install Dependencies
      shell: bash -l {0}
      run: |
        mamba install -c conda-forge cmake ninja compilers gdal opencv pcl boost eigen -y
        
    # 3. Compilamos
    - name: Compile
      shell: bash -l {0}
      run: |
        mkdir build
        cd build
        cmake -G "Ninja" .. -DCMAKE_BUILD_TYPE=Release
        cmake --build . --config Release
        
    # 4. Te entregamos el archivo listo
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: odm_orthophoto_exe
        path: build/odm_orthophoto.exe
        compression-level: 0
